
<h1> Login </h1>

<form (ngSubmit)="login()">

  <div class="form-group">
    <label for="userName">Username:</label>
    <input type="text" class="form-control" id="userName" placeholder="Enter Username" [(ngModel)]="loginModel.Username" [ngModelOptions]="{standalone: true}">
  </div>
  <br />
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" placeholder="Enter Password" [(ngModel)]="loginModel.Password" [ngModelOptions]="{standalone: true}">
  </div>
  <br />
  

  <div class="form-group">
    <button type="submit" class="btn btn-primary" >Submit</button>
  </div>
</form>
