
<h1 *ngIf="claim"> {{claim.referenceNumber}}</h1>

<form >

  <div class="form-group">
    <label for="claimAmount">Claim Amount:</label>
    <input type="text" class="form-control" id="claimAmount" placeholder="Enter Claim Amount" [(ngModel)]="claim.claimAmount" [ngModelOptions]="{standalone: true}">
  </div>
  <br />
  <div class="form-group">
    <label for="receiptNumber">Receipt Number:</label>
    <input type="text" class="form-control" id="receiptNumber" placeholder="Enter Receipt Number" [(ngModel)]="claim.receiptNumber" [ngModelOptions]="{standalone: true}">
  </div>
  <br />
  <div class="form-group">
    <label for="receiptAmount">Receipt Amount:</label>
    <input type="text" class="form-control" id="receiptAmount" placeholder="Enter Receipt Amount" [(ngModel)]="claim.receiptAmount" [ngModelOptions]="{standalone: true}">
  </div>
  <br />
  <div class="form-group">
    <label for="receiptDate">Receipt Date:</label>
    <input type="text" class="form-control" id="receiptDate" placeholder="Enter Receipt Date" [(ngModel)]="claim.receiptDate" [ngModelOptions]="{standalone: true}">
  </div>
  <br />

  <div class="form-group">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </div>
</form>
